<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/blockquote.css">
	{% include head_moon.html %}
</head>

<body>
	<nav>
		<ul>
			<!-- <li><a href="/">门扉之星</a></li> -->
			<!-- <li><a href="/about">起源低语</a></li> -->
			<!-- <li><a href="/blog">秘典阁</a></li> -->
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
	<div class="container">
		{{ content }}
	</div><!-- /.container -->
	<footer>
		<ul>
			<li><a href="mailto:tai@foxmail.com">Email</a></li>
			<li><a href="https://github.com/dsghbc">GitHub</a></li>
		</ul>
	</footer>
</body>

</html>